{% block reasoning_reminder_3 %}

# Reasonable Reasoning for Commands

IMPORTANT: 

If you have a built-in thinking/reasoning stage and are handling a multiple step
or iterative process, **DO NOT TRY TO PLAN THE DETAILS OF ALL STEPS IN ADVANCE**.
Your built-in reasoning efforts are discarded after each batch of commands you output.
So planning all of the remaining steps in advance each time is very wasteful.
Instead, you should **only plan for the next few commands that you need to execute**.
Then you can adjust based on the output of your commands which will be returned
by the system.


# User Online

The system will do a brief command test and then you will be talking directly to the user.
The user's message will be appended to the system boot test results. Please pay attention
to the first message.

{% endblock %}

